<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
  </head>
  <body>
    {% if all_friends %}
      <h1>These are all my friends!</h1>
      {% for friend in all_friends %}
        <p>ID: {{friend['id']}}</p>
        <p>First Name: {{friend['first_name']}}</p>
        <p>Last Name: {{friend['last_name']}}</p>
        <p>Occupation: {{friend['occupation']}}</p>
        <form class="" action="/friends/{{friend['id']}}/edit" method="get">
          <input type="submit" name="edit" value="Edit User">
        </form>
        <form class="" action="/friends/{{friend['id']}}/delete" method="post">
          <input type="submit" name="destroy" value="Delete User">
        </form>
        <hr>
      {% endfor %}
      <h2>Add a Friend</h2>
      <form action='/friends' method='POST'>
        <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
        <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
        <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
        <input type="submit" value="Add">
      </form>
    {% elif one_friend %}
      <p>ID: {{one_friend['id']}}</p>
      <form class="" action="/friends/{{one_friend['id']}}/update" method="post">
        <label for="first_name">First Name:<input type="text" name="first_name" id="first_name" value="{{one_friend['first_name']}}"></label>
        <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name" value="{{one_friend['last_name']}}"></label>
        <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation" value="{{one_friend['occupation']}}"></label>
        <input type="submit" name="" value="Update Record">
      </form>
      <hr>
    {% endif %}
  </body>
</html>
