<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>test</h1>
    <form class="" action="/submit_survey" method="post">
      Name: <input type="text" name="name" value="">
      Location: <select class="" name="">
        <option value="seattle">Seattle</option>
        <option value="sanjose">San Jose</option>
      </select>
      Language: <select class="" name="">
        <option value="js">JavaScript</option>
        <option value="python">Python</option>
      </select>
      Comment: <input type="text" name="comment" value="">
    </form>
  </body>
</html>
