<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
    </head>
    <body>
        <h1>Hello ASP.NET Mvc!</h1>
        <form action="method" method="post">
            <label for="nameField">Name: </label><input type="text" name="nameField"/>
           <select name="locationField"/>
                <option value="seattle">Seattle</option>
                <option value="sanjose">San Jose</option>
                <option value="outerspace">Outer Space</option>
           </select>
           <select name="favLang"/>
                <option value="csharp">c#</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
           </select>
           <label for="comment">Comment (optional): </label><input type="text" name="comment"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>