*{
  margin: 0;
  padding:0;
  font-family: "ariel", sans-serif;
}
#wrapper{
  width: 970px;
  margin: 0 auto;
  border: 2px solid purple;
}
#header{
  height: 70px;
}
h1{
  display:inline-block;
  vertical-align: top;
  font-size: 40px;
  padding-top: 25px;
  font-weight: 500;
  color: #474747;
}
.blueText{
  color: #2E6CA1;
}
h2{
  color: white;
  background: linear-gradient(#2E6CA1,#4F81AC,#2E6CA1);
  font-size: 35px;
  padding: 20px;
}
#sideBar{
  display: inline-block;
  width: 25%;
  border: 1px red solid;
  padding: 10px;
}
#sideText{

}
.button{
  width: 95%;
  height: 35px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
#blue{
  background-color: #3e7aae;
}
#orange{
  margin-top: 5px;
  background-color: #ed8d14;
}
hr{
  margin: 20px 0;
}
#ninja{
  background-image: url(images/ad_background.png);
  background-size: contain;
  border: 1px solid green;
  text-align: center;
  padding: 10px;
}
#ninjaText{
  color: white;
  font-size: 28px;
  font-weight: bold;
}
#ninjaPic{
  height: 150px;
}
#learnMore{
  width: 100%;
  height: 30px;
  margin-bottom: 35px;
  margin-top:15px;
  background-color: #22c6df;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 22px;
}
#t1{
  opacity: .3;
}
#t2{
  opacity: .6;
}
#content{
  display: inline-block;
  width: 65%;
  vertical-align: top;
  border: 1px solid pink;
}
#house{
  height: 20px;
}
#dnsLink{
  text-decoration: none;
}
